body {
    height: 125vh;
    background-color: slategrey;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}


h1 {
    color: #333;
    font-size: 48px;
    text-align: center;
}

p {
    margin: 2 2 2 2;
    color: #fff;
    font-size: 24px;
    line-height: 1.5;
    margin: 20px 0;
    text-align: center;
}

.white-link {
    color: white;
    text-decoration: none;
}

.img {
    display: block;
    margin: 0 auto;
}

main {
    color: white;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

/* For screens smaller than 768px */
@media (max-width: 767px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 18px;
        justify-content: center;
    }
    
    .card {
        padding: 10px;
    }


    .img {
        max-width: 100%;
        height: auto;
    }
}

/* For screens larger than 768px */
@media (min-width: 768px) {
    body {
        padding: 30px;
    }

    h1 {
        font-size: 48px;
    }

    p {
        font-size: 24px;
        justify-content: center;
    }
    
    .card {
        padding: 30px;
    }

    .img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid #5C849B;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.94);
    background-color: #5C849B;
}

