<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <title>Fastapi API</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <h1>
                        Fastapi API
                    </h1>
                </li>
            </ul>
        </nav>
    </header>
    <div>
        <p>
            This API has been built with the python framework Fastapi, 
            if you want to try it, you can access to 
            <a class="white-link" href="https://listapi-frangalo34.b4a.run/docs#/">swagger documentation</a>
            and just, use it.
        </p>
    </div>
    <div>
        <img  class="img" src="{{ url_for('static', path='img/swagger.png') }}" alt="swagger logo">
    </div>
</body>
</html>